[
  {
    "name": "${name["nginx"]}",
    "image": "${image["nginx"]}",
    "cpu": ${cpu["nginx"]},
    "memory": ${memory["nginx"]},
    "memoryReservation": ${memoryReservation["nginx"]},
    "essential": true,
    "command": [
      "nginx",
      "-g",
      "daemon off;"
    ],
    "environment": [
      {
          "name": "APP_URL",
          "value": "${app_url["nginx"]}"
      }
    ],
    "portMappings": [
      {
        "containerPort": 443,
        "hostPort": 443
      }
    ],
    "logConfiguration": {
      "logDriver": "awslogs",
      "options": {
        "awslogs-region": "${log_region["nginx"]}",
        "awslogs-group": "/ecs/${name["nginx"]}-${safedomain}",
        "awslogs-stream-prefix": "nginx",
        "awslogs-create-group": "true"
      }
    },
    "healthCheck": {
      "command": [
        "CMD-SHELL",
        "curl -k -f ${healthcheck_url["nginx"]}|| exit 1"
      ],
      "interval": 60,
      "timeout": 5,
      "retries": 3,
      "startPeriod": 120
    }
  }, 
  {
    "name": "${name["app"]}",
    "image": "${image["app"]}",
    "cpu": ${cpu["app"]},
    "memory": ${memory["app"]},
    "memoryReservation": ${memoryReservation["app"]},
    "essential": true,
    "command": [
      "npm",
      "run",
      "start"
    ],
    "secrets": [
      {
        "name": "AUTH_SECRET",
        "valueFrom": "${p_account}/auth/secret"
      },
      {
        "name": "AUTH_GITHUB_ID",
        "valueFrom": "${p_account}/auth/github/id"
      },
      {
        "name": "AUTH_GITHUB_SECRET",
        "valueFrom": "${p_account}/auth/github/secret"
      },
      {
        "name": "AUTH_STRAVA_CLIENT_ID",
        "valueFrom": "${p_account}/auth/strava/id"
      },
      {
        "name": "AUTH_STRAVA_CLIENT_SECRET",
        "valueFrom": "${p_account}/auth/strava/secret"
      },
      {
        "name": "AUTH_DISCORD_CLIENT_ID",
        "valueFrom": "${p_account}/auth/discord/id"
      },
      {
        "name": "AUTH_DISCORD_CLIENT_SECRET",
        "valueFrom": "${p_account}/auth/discord/secret"
      },
      {
        "name": "AUTH_DYNAMODB_ID",
        "valueFrom": "${p_app}/next-auth/access_key"
      },
      {
        "name": "AUTH_DYNAMODB_SECRET",
        "valueFrom": "${p_app}/next-auth/secret_key"
      },
      {
        "name": "AUTH_DYNAMODB_DBNAME",
        "valueFrom": "${p_app}/next-auth/dbname"
      },
      {
        "name": "AUTH_SMTP_FROM",
        "valueFrom": "${p_email}/ses/from_address"
      },
      {
        "name": "AUTH_SMTP_URL",
        "valueFrom": "${p_email}/ses/smtp_url_v4"
      },
      {
        "name": "USER_DYNAMODB_ID",
        "valueFrom": "${p_app}/dynamodb/access_key"
      },
      {
        "name": "USER_DYNAMODB_SECRET",
        "valueFrom": "${p_app}/dynamodb/secret_key"
      },
      {
        "name": "USER_DYNAMODB_SINGLE_TABLE",
        "valueFrom": "${p_app}/dynamodb/single_table"
      }
    ],
    "environment": [
      {
        "name": "AUTH_DYNAMODB_REGION",
        "value": "us-east-1"
      },
      {
        "name": "USER_DYNAMODB_REGION",
        "value": "us-east-1"
      },
      {
        "name": "AUTH_ALLOWED_EMAILS",
        "value": "all"
      },
      {
        "name": "AUTH_INVITE_CODES",
        "value": "hacktheplanet,23tenalpehtkcah"
      },
      {
        "name": "NEXTAUTH_URL",
        "value": "https://run.defcon.run"
      },
      {
        "name": "STRAPI_URL",
        "value": "https://use1.strapi.defcon.run"
      },
      {
        "name": "AUTH_STRAPI_TOKEN",
        "value": "612fc93cb7f6543e7eefe7cf4d96c98d13ebb9a17401ff6ca7086b7305451bb4e481e8ff5bad9cb2666afbc57c74c36db6a8c7ccec7d620f21a55a851586aa3516f1dae98def3ee7c5853ed8ad1edd41167dd8650ec25920f7c2d71eca2343a71d53d0e0a182b32573897bd03b6841f925dfef1aa654a518b9d91a673ceb213c"
      }
    ],
    "portMappings": [
      {
        "containerPort": 3000,
        "hostPort": 3000
      }
    ],
    "logConfiguration": {
      "logDriver": "awslogs",
      "options": {
        "awslogs-region": "${log_region["app"]}",
        "awslogs-group": "/ecs/${name["app"]}-${safedomain}",
        "awslogs-stream-prefix": "app",
        "awslogs-create-group": "true"
      }
    },
    "healthCheck": {
      "command": [
        "CMD-SHELL",
        "curl -f -k ${healthcheck_url["app"]} || exit 1"
      ],
      "interval": 30,
      "timeout": 5,
      "retries": 3,
      "startPeriod": 120
    }
  }
]