AUTH_SECRET=arn:aws:ssm:us-east-1:427284555693:parameter/defcon.run/auth/secret

AUTH_GITHUB_ID=arn:aws:ssm:us-east-1:427284555693:parameter/defcon.run/auth/github/id
AUTH_GITHUB_SECRET=arn:aws:ssm:us-east-1:427284555693:parameter/defcon.run/auth/github/secret

AUTH_STRAVA_CLIENT_ID=arn:aws:ssm:us-east-1:427284555693:parameter/defcon.run/auth/strava/id
AUTH_STRAVA_CLIENT_SECRET=arn:aws:ssm:us-east-1:427284555693:parameter/defcon.run/auth/strava/secret

AUTH_DISCORD_CLIENT_ID=arn:aws:ssm:us-east-1:427284555693:parameter/defcon.run/auth/discord/id
AUTH_DISCORD_CLIENT_SECRET=arn:aws:ssm:us-east-1:427284555693:parameter/defcon.run/auth/discord/secret

#/app.defcon.run/rabbit/next-auth/access_key
AUTH_DYNAMODB_ID=arn:aws:ssm:us-east-1:427284555693:parameter/use1.webapp.defcon.run/next-auth/access_key
AUTH_DYNAMODB_SECRET=arn:aws:ssm:us-east-1:427284555693:parameter/use1.webapp.defcon.run/next-auth/secret_key
AUTH_DYNAMODB_DBNAME=arn:aws:ssm:us-east-1:427284555693:parameter/use1.webapp.defcon.run/next-auth/dbname
AUTH_DYNAMODB_REGION=us-east-1

AUTH_SMTP_FROM=arn:aws:ssm:us-east-1:427284555693:parameter/use1.email.defcon.run/ses/from_address
AUTH_SMTP_URL=arn:aws:ssm:us-east-1:427284555693:parameter/use1.email.defcon.run/ses/smtp_url_v4

USER_DYNAMODB_REGION=us-east-1
USER_DYNAMODB_ID=arn:aws:ssm:us-east-1:427284555693:parameter/use1.webapp.defcon.run/dynamodb/access_key
USER_DYNAMODB_SECRET=arn:aws:ssm:us-east-1:427284555693:parameter/use1.webapp.defcon.run/dynamodb/secret_key
USER_DYNAMODB_ENDPOINT=
USER_DYNAMODB_SINGLE_TABLE=arn:aws:ssm:us-east-1:427284555693:parameter/use1.webapp.defcon.run/dynamodb/single_table

# AUTH_ALLOWED_EMAILS=whereiskurt@gmail.com,jessekrembs@gmail.com,defcon.run+github@gmail.com
AUTH_ALLOWED_EMAILS=all
AUTH_INVITE_CODES=hacktheplanet,23tenalpehtkcah
NEXTAUTH_URL=http://localhost:3000

STRAPI_URL=http://localhost:8080
AUTH_STRAPI_TOKEN=612fc93cb7f6543e7eefe7cf4d96c98d13ebb9a17401ff6ca7086b7305451bb4e481e8ff5bad9cb2666afbc57c74c36db6a8c7ccec7d620f21a55a851586aa3516f1dae98def3ee7c5853ed8ad1edd41167dd8650ec25920f7c2d71eca2343a71d53d0e0a182b32573897bd03b6841f925dfef1aa654a518b9d91a673ceb213c
