AUTH_SECRET=arn:aws:ssm:us-east-1:427284555693:parameter/defcon.run/auth/secret

AUTH_STRAPI_TOKEN=arn:aws:ssm:us-east-1:427284555693:parameter/defcon.run/auth/strapi_token

AUTH_GITHUB_ID=arn:aws:ssm:us-east-1:427284555693:parameter/defcon.run/auth/github/id
AUTH_GITHUB_SECRET=arn:aws:ssm:us-east-1:427284555693:parameter/defcon.run/auth/github/secret

AUTH_STRAVA_CLIENT_ID=arn:aws:ssm:us-east-1:427284555693:parameter/defcon.run/auth/strava/id
AUTH_STRAVA_CLIENT_SECRET=arn:aws:ssm:us-east-1:427284555693:parameter/defcon.run/auth/strava/secret

AUTH_DISCORD_CLIENT_ID=arn:aws:ssm:us-east-1:427284555693:parameter/defcon.run/auth/discord/id
AUTH_DISCORD_CLIENT_SECRET=arn:aws:ssm:us-east-1:427284555693:parameter/defcon.run/auth/discord/secret

#/app.defcon.run/rabbit/next-auth/access_key
AUTH_DYNAMODB_ID=arn:aws:ssm:us-east-1:427284555693:parameter/use1.run.defcon.run/next-auth/access_key
AUTH_DYNAMODB_SECRET=arn:aws:ssm:us-east-1:427284555693:parameter/use1.run.defcon.run/next-auth/secret_key
AUTH_DYNAMODB_DBNAME=arn:aws:ssm:us-east-1:427284555693:parameter/use1.run.defcon.run/next-auth/dbname
AUTH_DYNAMODB_REGION=us-east-1

AUTH_SMTP_FROM=arn:aws:ssm:us-east-1:427284555693:parameter/use1.email.defcon.run/ses/from_address
AUTH_SMTP_URL=arn:aws:ssm:us-east-1:427284555693:parameter/use1.email.defcon.run/ses/smtp_url_v4

USER_DYNAMODB_REGION=us-east-1
USER_DYNAMODB_ID=arn:aws:ssm:us-east-1:427284555693:parameter/use1.run.defcon.run/dynamodb/access_key
USER_DYNAMODB_SECRET=arn:aws:ssm:us-east-1:427284555693:parameter/use1.run.defcon.run/dynamodb/secret_key
USER_DYNAMODB_ENDPOINT=
USER_DYNAMODB_SINGLE_TABLE=arn:aws:ssm:us-east-1:427284555693:parameter/use1.run.defcon.run/dynamodb/single_table

# AUTH_ALLOWED_EMAILS=whereiskurt@gmail.com,jessekrembs@gmail.com,defcon.run+github@gmail.com
AUTH_ALLOWED_EMAILS=all
AUTH_INVITE_CODES=hacktheplanet,23tenalpehtkcah
NEXTAUTH_URL=http://localhost:3000

STRAPI_URL=http://localhost:1337
WEBAPP_ORIGIN_BUCKET=arn:aws:ssm:us-east-1:427284555693:parameter/use1.run.defcon.run/cf/bucket_name