# # NOTE: These are only localhost values and not really shared
HOST=0.0.0.0
PORT=1337

## NOTE: These are only localhost secrets and not deployed publicly. Convenience for local development.
## NOT ACTUALLY SECRETS! :-)
APP_KEYS=SYhPMJxoMZB6udvJttVaQg==,/8G77UEZzD+qa0A2XFNJxg==,oekV1RljLCzwufvTcy4F1g==,lv6/Y/HMOCLt8zaQbYKJRw==
API_TOKEN_SALT=xeIUOaXkgYMJ1thW22+udA==
ADMIN_JWT_SECRET=2GlwrA3EELBKg1y0B+CvdA==
TRANSFER_TOKEN_SALT=Ea0h95bO5UayUIwRM8FY3Q==
JWT_SECRET=fTDif+UvLs1aUS6fvpNRhA==

# Database as a file
DATABASE_CLIENT=sqlite
DATABASE_SSL=false
DATABASE_FILENAME=database/data.db

## Database as postgres local
##DATABASE_CLIENT=postgres
##DATABASE_SSL=false
##DATABASE_NAME=strapi
##DATABASE_HOST=postgres-cms
##DATABASE_USERNAME=postgres
##DATABASE_PASSWORD=postgres

AWS_REGION=us-east-1

##TODO: Move to an SSM variable
##NOTE: We may change this to public/cms
CF_ROOT_PATH=cms
